version: "3"
services:
    web:
        container_name: mysqlBoilerplateService
        build:
            dockerfile: Dockerfile.dev
            context: .
        depends_on:
            - db
        ports:
            - "3000:3000"
        volumes:
            - .:/server
        environment:
            - MONGO_HOST=mongodb://db:27017
            - MONGO_DB=sample-app
            - SOCKET_CORS=http://localhost:3001
            - APPLICATION_SERVER_PORT=3001
            - APP_FORCE_SHUTDOWN_SECOND=30

    # Database
    db:
        image: mysql:8.0
        ports:
        - "3306:3306"
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: admin
            MYSQL_DATABASE: testdb
            MYSQL_USER: root
            MYSQL_PASSWORD: root

    # phpmyadmin
    phpmyadmin:
        depends_on:
        - db
        image: phpmyadmin/phpmyadmin
        restart: always
        ports:
        - "8080:80"
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: root